body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el contenido del formulario */
    margin-top: 60px; /* Espacio superior para separar del menú */
}

h2 {
    color: #ff0000; /* Rojo */
    text-align: center; /* Centrar el título */
    margin-bottom: -30px; /* Espacio inferior para separar del formulario */
}

label {
    color: #333;
    font-weight: bold;
    display: block; /* Asegura que las etiquetas estén en bloque */
    margin-top: 10px; /* Espacio superior para las etiquetas */
}

input[type="text"],
input[type="checkbox"],
select,
input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #ff0000; /* Rojo */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Espacio superior para el botón */
}

input[type="submit"]:hover {
    background-color: #cc0000; /* Rojo más oscuro */
}

.error {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}